<div id="portfolio-container">
  <%= render "sidebar"%>
  <div class="portfolio-content">
    <%= render "header"%>
    <main class="portfolio-dashboard">
      <figure class="grid-1">1</figure>
      <figure class="grid-2">
        <div class="trade-stock">
          <select name="stock-name" id="stock-name-dd">
            <option value="" disabled selected hidden>Select Stock</option>
            <option value="TSLA">Tesla Inc</option>
            <option value="AAPL">Apple Inc</option>
            <option value="AMZN">Amazon.com Inc.</option>
          </select>
          <div>
            <%# <input type="number"/> %>
            <h2>10</h2>
            <h3>X</h3>
            <h2>$119.77</h2>
          </div>
          <h2>TOTAL PRICE: $1197.70</h2>
        </div>
        <div class="trade-stock-type">
          <button>BUY</button>
          <button>SELL</button>
        </div>
      </figure>
      <figure class="grid-3">3</figure>
      <figure class="grid-4">
        <h1>TRADER STOCKS LIST GOES HERE</h1>
      </figure>
      <figure class="grid-5">
        <div class="g5-symbol">
          <ul>
          <% @client.stock_market_list(:mostactive).map(&:symbol).each do |stock| %>
            <li><%= stock %></li>
          <% end %>
          </ul>
        </div>
        <div class="g5-change-s">
          <ul>
          <% @client.stock_market_list(:mostactive).map(&:change_percent_s).each do |stock| %>
            <% if stock.to_f > 0 %>
              <li><span style="color: green">(<%= stock %>)</span></li>
            <% elsif stock.to_f < 0 %>
              <li><span style="color: red">(<%= stock %>)</span></li>
            <% end %>
          <% end %>
          </ul>
        </div>
        <div class="g5-price">
          <ul>
          <% @client.stock_market_list(:mostactive).map(&:latest_price).each do |stock| %>
            <li>$ <%= stock %></li>
          <% end %>
          </ul>
        </div>
        <div class="g5-change">
          <ul>
          <% @client.stock_market_list(:mostactive).map(&:change).each do |stock| %>
            <% if stock.to_f > 0 %>
              <li><h4 style="background-color: green"><%= stock %></h4></li>
            <% elsif stock.to_f < 0 %>
              <li><h4 style="background-color: red"><%= stock %></h4></li>
            <% end %>
          <% end %>
          </ul>
        </div>
      </figure>
      <%# <figure class="grid-6">6</figure> %>
      <figure class="grid-7">
        <div class="balance">
          <h3>Wallet Balance</h3>
          <h1><%= number_to_currency(@portfolio.balance, :unit => "$") %></h1>
        </div>
        <div class="change-balance">
          <%= render "new_balance_form", portfolio: @portfolio %>
        </div>
      </figure>
    </main>
  </div>
</div>
