<div id="stocks-container">
  <%= render "users/sidebar"%>
  <div class="stocks-content">
    <%= render "/shared/navbar" %>
    <main class="stocks-dashboard">
      <div class="stocks-dashboard-header">
        <div class="stock-name-title">
          <h2>Company (most-active)</h2>
        </div>
        <div class="stock-symbol-title">
          <h2>Symbol</h2>
        </div>
        <div class="stock-price-title">
          <h2>Price</h2>
        </div>
        <div class="stock-change-title">
          <h2>Change</h2>
        </div>
        <div class="stock-percent-change-title">
          <h2>%Change</h2>
        </div>
        <div>
          <h2 class="forex-rate">Forex($1 USD -> PHP): 55.84 PHP</h2>
        </div>
      </div>
      <div class="stocks-dashboard-content">
        <% @stocks.sort_by{|key| key.company_name}.each do |stock| %>
          <ul>
            <li><%= stock.company_name %></li>
            <li><%= stock.symbol %></li>
            <li><%= number_to_currency(stock.price, :unit => "$") %></li>
            <% if stock.change > 0 %>
              <li style="color: #43ef97"><%= stock.change %></li>
            <% elsif stock.change < 0 %>
              <li style="color: red"><%= stock.change %></li>
            <% else %>
              <li style="color: white"><%= stock.change %></li>
            <% end %>
            <% if stock.percent_change.to_f > 0 %>
              <li style="color: #43ef97">(<%= stock.percent_change.to_f %>%)</li>
            <% elsif stock.percent_change.to_f < 0 %>
              <li style="color: red">(<%= stock.percent_change.to_f %>%)</li>
            <% else %>
              <li style="color: white">(<%= stock.percent_change.to_f %>%)</li>
            <% end %>
              <li><%= link_to "TRANSACT", stock %></li>
          </ul>
        <% end %>
      </div>
    </main>
  </div>
</div>