
<div class="stock-show-page">
  <div class="stock-container">
    <img src="<%= @stock.logo %>" alt="<%= @stock.company_name %> logo" class="stock-logo">
    <div class="stock-info">
      <div class="stock-name-symbol">
        <h1 class="stock-name"><%= @stock.company_name %> (<%= @stock.symbol %>)</h1>
        <%= link_to "TRANSACT", new_order_path(user_id: current_user.id, symbol: @stock.symbol) %>
      </div>
      <p class="stock-price">Price: $<%= @stock.price %></p>
      <% if current_user.trader_stocks.find_by(symbol: @stock.symbol).nil? %>
        <p class="stock-quantity">Quantity: <%= @stock.quantity %> (Available: 0)</p>
      <% else %>
        <p class="stock-quantity">Quantity: <%= @stock.quantity %> (Available: <%= current_user.trader_stocks.find_by(symbol: @stock.symbol).quantity %>)</p>
      <% end %>
      <div class="stock-description">
        <h3><%= @client.company(@stock.symbol).description %></h3>
      </div>
    </div>
  </div>
  <div class="stock-news">
    <h1>LATEST NEWS</h1>
    <ul>
      <% @client.news(@stock.symbol).each do |article| %>
        <li>
          <a href="<%= article.url %>"><%= article.headline %></a>
          <p><%= article.summary %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
