<div class="trade-stock-header">
  <h3>FEELING LUCKY?</h3>
</div>
<div class="trade-stock-content">
  <% @stocks.sample(10).each do |stock| %>
    <%= link_to stock do %>
    <%# <ul> %>
      <li><%= stock.symbol %></li>
      <li><%= number_to_currency(stock.price, :unit => "$") %></li>
      <% if stock.percent_change.to_f > 0 %>
        <li><span style="background-color: green">(<%= stock.percent_change.to_f %>%)</span></li>
      <% elsif stock.percent_change.to_f < 0 %>
        <li><span style="background-color: red">(<%= stock.percent_change.to_f %>%)</span></li>
      <% else %>
        <li><span style="background-color: white, color: black">(<%= stock.percent_change.to_f %>%)</span></li>
      <% end %>
    <%# </ul> %>
    <% end %>
  <% end %>
</div>