<% if user_signed_in? %>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  <div id="portfolio-container">
    <%= render "sidebar" %>
    <div class="portfolio-content">
      <%= render "/shared/navbar" %>
      <main class="portfolio-dashboard">
        <figure class="grid-1">
          <%= bar_chart @trader_stocks.where(user_id: current_user.id).group(:symbol).sum(:quantity), height: "100%", xtitle: "Quantity", ytitle: "Symbol" %>
        </figure>
        <figure class="grid-2">
          <%= render "random_stocks"%>
        </figure>
        <%# <figure class="grid-3">3</figure> %>
        <figure class="grid-4">
          <%= render "user_stocks"%>
        </figure>
        <figure class="grid-5">
          <%= area_chart User.where(id: current_user.id).group(:updated_at).sum(:balance), height: "100%" %>
        </figure>
        <%# <figure class="grid-6">6</figure> %>
        <figure class="grid-7">
          <div class="balance">
            <h4>Wallet Balance</h4>
            <h1><%= number_to_currency(current_user.balance, :unit => "$") %></h1>
          </div>
          <div class="change-balance">
            <%= render "new_balance_form" %>
          </div>
        </figure>
      </main>
    </div>
  </div>
<% else %>
  <%= render "landing_page" %>
<% end %>


