<div class="navbar">
  <div class="nav-link">
    <div class="nav-logo">
      <%= link_to image_tag("logo.png"), root_path %>
    </div>
    <div class="nav-link right">
      <% if user_signed_in? || admin_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, class: "sign-out", data: { "turbo-method": :delete } %>
        <% if Time.now.strftime("%H").to_i < 12 && Time.now.strftime("%H").to_i > 4 %>
          <h4>Good Morning, <%= current_user.first_name %>!</h4>
        <% elsif Time.now.strftime("%H").to_i < 18 %>
          <h4>Good Afternoon, <%= current_user.first_name %>!</h4>
        <% else %>
        <h4>Good Evening, <%= current_user.first_name %>!</h4>
        <% end %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
        <button>
          <%= link_to "Sign up", new_user_registration_path %>
        </button>
      <% end %>
    </div>
  </div>
</div>