<div id="history-container">
  <%= render "users/sidebar"%>
  <div class="history-content">
    <%= render "users/header"%>
    <main class="history-dashboard">
      <div>
        <figure class="transaction-graph">1</figure>
      </div>
      <div class="transaction-type">
        <figure class="buy-transaction">
          <h1>BUY</h1>
          <% if @orders.count == 0 %>
            <h2>Wow, such empty</h2>
          <% else %>
            <% @orders.each do |order| %>
              <% if order.user == current_user && order.order_type == "BUY" %>
                <ul>
                  <li><%= order.symbol %></li>
                  <li><%= order.price %></li>
                  <li><%= order.quantity %></li>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        </figure>
        <figure class="sell-transaction">
          <h1>SELL</h1>
          <% if @orders.count == 0 %>
            <h2>Wow, such empty</h2>
          <% else %>
            <% @orders.each do |order| %>
              <% if order.user == current_user && order.order_type == "SELL" %>
                <ul>
                  <li><%= order.symbol %></li>
                  <li><%= order.price %></li>
                  <li><%= order.quantity %></li>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        </figure>
      </div>
  </div>
</div>