<div>
  <h2> Create User Account </h2>
</div>

<%= form_with scope: :user, model: @user, url: '/admins/create_user', method: :post do |f| %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Account" %>
    <%= link_to "Cancel", admins_authenticated_root_path %>
  </div>

<% end %>