<%= render "shared/navbar-a" %>
<div class="container-home">
  <div class="a-modal">
    <div class="close">
      <div> Edit Trader </div>
      <%= link_to "X", admins_authenticated_root_path %>
    </div>
    <div class="modal-form">
      Account Information

      <%= form_with model: @user, url: '', method: :patch do |f| %>

        <div>
          <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
        </div>

        <div>
          <%= f.text_field :last_name, placeholder: "Last Name" %>
        </div>

        <div>
          <%= f.text_field :username, placeholder: "Username" %>
        </div>
        
        <div>
          <%#= f.label :email %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
        </div>

        <div class="actions">
          <%= f.submit "Edit Account" %>
        </div>

      <% end %>
    </div>

  </div>
</div>
